In [1]:
from pyspark.sql import SparkSession

# Создаем SparkSession
spark = (
    SparkSession.builder
    .appName("My PySpark Application")   # Название приложения
    .master("local[*]")   # Указывает использовать локальный режим со всеми ядрами
    .config("spark.executor.memory", "2g")   # Настройка памяти для исполнителей
    .config("spark.driver.memory", "2g")   # Настройка памяти для драйвера
    .config("spark.sql.debug.maxToStringFields", 1000)
    .getOrCreate()
)

# Проверка успешного подключения
print("Spark Version:", spark.version)

Spark Version: 3.5.5

In [2]:
from pyspark.sql.types import StructType, StructField, IntegerType, DoubleType

# Данные первой таблицы
data1 = [
    (1360, 2, 1, 1981, 0.599, 0, 5, 262382.85),
    (4272, 3, 2, 2016, 4.753, 1, 6, 985260.85),
    (3592, 1, 1, 2016, 3.634, 0, 9, 777977.39),
    (966, 1, 1, 1977, 2.730, 1, 8, 229698.91),
    (4926, 2, 2, 1993, 4.699, 0, 8, 1041740.85)
]

# Схема первой таблицы
schema1 = StructType([
    StructField("Square_Footage", IntegerType(), True),
    StructField("Num_Bedrooms", IntegerType(), True),
    StructField("Num_Bathrooms", IntegerType(), True),
    StructField("Year_Built", IntegerType(), True),
    StructField("Lot_Size", DoubleType(), True),
    StructField("Garage_Size", IntegerType(), True),
    StructField("Neighborhood_Quality", IntegerType(), True),
    StructField("House_Price", DoubleType(), True)
])

# Создание первой таблицы
df1 = spark.createDataFrame(data1, schema=schema1)

# Данные второй таблицы
data2 = [
    (1, 0, 1, 0, 5),
    (2, 1, 1, 1, 6),
    (3, 0, 0, 1, 9),
    (4, 1, 0, 1, 8),
    (5, 0, 1, 0, 8)
]

# Схема второй таблицы
schema2 = StructType([
    StructField("Property_ID", IntegerType(), True),
    StructField("Garage_Size", IntegerType(), True),
    StructField("Has_Pool", IntegerType(), True),
    StructField("Has_Basement", IntegerType(), True),
    StructField("Neighborhood_Quality", IntegerType(), True)
])

# Создание второй таблицы
df2 = spark.createDataFrame(data2, schema=schema2)

# Показать данные
df1.show(3)
df2.show(3)

+--------------+------------+-------------+----------+--------+-----------+--------------------+-----------+
|Square_Footage|Num_Bedrooms|Num_Bathrooms|Year_Built|Lot_Size|Garage_Size|Neighborhood_Quality|House_Price|
+--------------+------------+-------------+----------+--------+-----------+--------------------+-----------+
|          1360|           2|            1|      1981|   0.599|          0|                   5|  262382.85|
|          4272|           3|            2|      2016|   4.753|          1|                   6|  985260.85|
|          3592|           1|            1|      2016|   3.634|          0|                   9|  777977.39|
+--------------+------------+-------------+----------+--------+-----------+--------------------+-----------+
only showing top 3 rows

+-----------+-----------+--------+------------+--------------------+
|Property_ID|Garage_Size|Has_Pool|Has_Basement|Neighborhood_Quality|
+-----------+-----------+--------+------------+--------------------+
|          1|          0|       1|           0|                   5|
|          2|          1|       1|           1|                   6|
|          3|          0|       0|           1|                   9|
+-----------+-----------+--------+------------+--------------------+
only showing top 3 rows

In [3]:
df = spark.read.csv("house_price_regression_dataset.csv", header=True, inferSchema=True)

In [4]:
df.show(5)

+--------------+------------+-------------+----------+------------------+-----------+--------------------+------------------+
|Square_Footage|Num_Bedrooms|Num_Bathrooms|Year_Built|          Lot_Size|Garage_Size|Neighborhood_Quality|       House_Price|
+--------------+------------+-------------+----------+------------------+-----------+--------------------+------------------+
|          1360|           2|            1|      1981|0.5996366396268326|          0|                   5| 262382.8522740563|
|          4272|           3|            3|      2016|4.7530138494020395|          1|                   6|  985260.854490162|
|          3592|           1|            2|      2016| 3.634822720478255|          0|                   9| 777977.3901185812|
|           966|           1|            2|      1977|  2.73066687604351|          1|                   8| 229698.9186636115|
|          4926|           2|            1|      1993| 4.699072554837388|          0|                   8|1041740.8589249004|
+--------------+------------+-------------+----------+------------------+-----------+--------------------+------------------+
only showing top 5 rows

In [5]:
df.printSchema()

root
 |-- Square_Footage: integer (nullable = true)
 |-- Num_Bedrooms: integer (nullable = true)
 |-- Num_Bathrooms: integer (nullable = true)
 |-- Year_Built: integer (nullable = true)
 |-- Lot_Size: double (nullable = true)
 |-- Garage_Size: integer (nullable = true)
 |-- Neighborhood_Quality: integer (nullable = true)
 |-- House_Price: double (nullable = true)

In [6]:
row_count = df.count()
print(f"Количество строк: {row_count}")

Количество строк: 1000

In [7]:
df.describe().show(3)

+-------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------+-----------------+
|summary|    Square_Footage|      Num_Bedrooms|     Num_Bathrooms|        Year_Built|          Lot_Size|       Garage_Size|Neighborhood_Quality|      House_Price|
+-------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------+-----------------+
|  count|              1000|              1000|              1000|              1000|              1000|              1000|                1000|             1000|
|   mean|          2815.422|              2.99|             1.973|           1986.55|2.7780874273930207|             1.022|               5.615|618861.0186467685|
| stddev|1255.5149205133453|1.4275636370887075|0.8203316060861882|20.632915868030334|1.2979031460668562|0.8149725027141597|  2.8870590763110653|253568.0583754209|
+-------+------------------+------------------+------------------+------------------+------------------+------------------+--------------------+-----------------+
only showing top 3 rows

In [8]:
from pyspark.sql.functions import lit

lit(1)

import pyspark.sql.functions as F
F.lit(1)
F.sum('1')

Column<'sum(1)'>

### Вывести уникальные значения для колонки Num_Bedrooms

In [9]:
numbedroomsdf = df.select('Num_Bedrooms')
numbedroomsdf.distinct().show()

+------------+
|Num_Bedrooms|
+------------+
|           1|
|           3|
|           5|
|           4|
|           2|
+------------+

### Отфильтровать строки, где Square_Footage больше 3000.

In [10]:
sqfoot = df.filter(df.Square_Footage > 3000)
sqfoot.show()

+--------------+------------+-------------+----------+------------------+-----------+--------------------+------------------+
|Square_Footage|Num_Bedrooms|Num_Bathrooms|Year_Built|          Lot_Size|Garage_Size|Neighborhood_Quality|       House_Price|
+--------------+------------+-------------+----------+------------------+-----------+--------------------+------------------+
|          4272|           3|            3|      2016|4.7530138494020395|          1|                   6|  985260.854490162|
|          3592|           1|            2|      2016| 3.634822720478255|          0|                   9| 777977.3901185812|
|          4926|           2|            1|      1993| 4.699072554837388|          0|                   8|1041740.8589249004|
|          3944|           5|            3|      1990| 2.475930043628728|          2|                   8| 879796.9835223783|
|          3671|           1|            2|      2012| 4.911960066216673|          0|                   1| 814427.8614089885|
|          3419|           1|            1|      1972| 2.805281407595683|          1|                   1| 703413.1109446795|
|          3885|           2|            3|      1983| 3.251014709974911|          1|                   9|  838719.430503504|
|          4617|           5|            1|      2005|4.3578900606237845|          0|                   4|1019192.6613592046|
|          3404|           3|            3|      1977| 3.529608977095392|          0|                   1| 735850.8123421574|
|          3058|           2|            1|      2017| 1.498552073529678|          0|                   2| 672852.0519810001|
|          3247|           1|            2|      2005| 4.467035547233406|          1|                  10| 740174.0146550778|
|          3234|           1|            3|      1969|2.5927486173528997|          0|                   7| 652166.1423658864|
|          3505|           2|            3|      1968| 4.433768069706617|          1|                   8| 745670.6371477235|
|          3702|           5|            1|      1984| 2.892098285487469|          0|                  10|  809686.201143527|
|          4056|           3|            3|      1992|2.7975280793420216|          1|                   4| 883819.0911218557|
|          4390|           1|            1|      1960|4.1926944095446395|          2|                   5| 912468.0479046734|
|          3388|           2|            2|      1987| 2.679549918311789|          0|                   1| 705923.3148916194|
|          3324|           1|            1|      2014| 0.688934430093147|          2|                   8| 697574.5556670319|
|          3112|           2|            3|      1980|2.6566704046154186|          0|                   9| 666733.4734616925|
|          3056|           2|            3|      2018| 4.315675476935068|          2|                   3| 735678.4622017285|
+--------------+------------+-------------+----------+------------------+-----------+--------------------+------------------+
only showing top 20 rows

### Объединение таблиц (df и df1) через union

In [11]:
unionDF = df.union(df1)
unionDF.show()
row_count = unionDF.count()
print(f"Количество строк: {row_count}")

+--------------+------------+-------------+----------+------------------+-----------+--------------------+------------------+
|Square_Footage|Num_Bedrooms|Num_Bathrooms|Year_Built|          Lot_Size|Garage_Size|Neighborhood_Quality|       House_Price|
+--------------+------------+-------------+----------+------------------+-----------+--------------------+------------------+
|          1360|           2|            1|      1981|0.5996366396268326|          0|                   5| 262382.8522740563|
|          4272|           3|            3|      2016|4.7530138494020395|          1|                   6|  985260.854490162|
|          3592|           1|            2|      2016| 3.634822720478255|          0|                   9| 777977.3901185812|
|           966|           1|            2|      1977|  2.73066687604351|          1|                   8| 229698.9186636115|
|          4926|           2|            1|      1993| 4.699072554837388|          0|                   8|1041740.8589249004|
|          3944|           5|            3|      1990| 2.475930043628728|          2|                   8| 879796.9835223783|
|          3671|           1|            2|      2012| 4.911960066216673|          0|                   1| 814427.8614089885|
|          3419|           1|            1|      1972| 2.805281407595683|          1|                   1| 703413.1109446795|
|           630|           3|            3|      1997|1.0142859649909075|          1|                   8|173875.03721558454|
|          2185|           4|            2|      1981|3.9416043760667474|          2|                   5| 504176.5060593679|
|          1269|           2|            2|      2006|3.5550397628502823|          1|                   9|335332.59275293903|
|          2891|           2|            3|      1982|3.9784402458751407|          0|                   2|    635097.3959198|
|          2933|           5|            3|      1973| 4.781489129265565|          2|                   9| 701133.8041471172|
|          1684|           5|            3|      1988|3.9942018619295814|          1|                   8| 440726.2848162878|
|          3885|           2|            3|      1983| 3.251014709974911|          1|                   9|  838719.430503504|
|          4617|           5|            1|      2005|4.3578900606237845|          0|                   4|1019192.6613592046|
|          3404|           3|            3|      1977| 3.529608977095392|          0|                   1| 735850.8123421574|
|           974|           2|            2|      1986| 2.336535755716654|          2|                   1|234261.64997473895|
|          1582|           5|            2|      1956|4.4852889390879795|          1|                   5| 396246.3588887452|
|          3058|           2|            1|      2017| 1.498552073529678|          0|                   2| 672852.0519810001|
+--------------+------------+-------------+----------+------------------+-----------+--------------------+------------------+
only showing top 20 rows

Количество строк: 1005

### Джойн двух таблиц (df1 и df2) по Garage_Size и Neighborhood_Quality

In [12]:
df2.join(df1, (df2.Garage_Size == df1.Garage_Size) & (df2.Neighborhood_Quality == df1.Neighborhood_Quality), "inner").show()

+-----------+-----------+--------+------------+--------------------+--------------+------------+-------------+----------+--------+-----------+--------------------+-----------+
|Property_ID|Garage_Size|Has_Pool|Has_Basement|Neighborhood_Quality|Square_Footage|Num_Bedrooms|Num_Bathrooms|Year_Built|Lot_Size|Garage_Size|Neighborhood_Quality|House_Price|
+-----------+-----------+--------+------------+--------------------+--------------+------------+-------------+----------+--------+-----------+--------------------+-----------+
|          1|          0|       1|           0|                   5|          1360|           2|            1|      1981|   0.599|          0|                   5|  262382.85|
|          5|          0|       1|           0|                   8|          4926|           2|            2|      1993|   4.699|          0|                   8| 1041740.85|
|          3|          0|       0|           1|                   9|          3592|           1|            1|      2016|   3.634|          0|                   9|  777977.39|
|          2|          1|       1|           1|                   6|          4272|           3|            2|      2016|   4.753|          1|                   6|  985260.85|
|          4|          1|       0|           1|                   8|           966|           1|            1|      1977|    2.73|          1|                   8|  229698.91|
+-----------+-----------+--------+------------+--------------------+--------------+------------+-------------+----------+--------+-----------+--------------------+-----------+

### Создать новую колонку Age как разность между текущим годом (2024) и Year_Built

In [13]:
from pyspark.sql.functions import lit

current_date = lit(2024)
df = df.withColumn("Age", current_date - df.Year_Built)
df.show()

+--------------+------------+-------------+----------+------------------+-----------+--------------------+------------------+---+
|Square_Footage|Num_Bedrooms|Num_Bathrooms|Year_Built|          Lot_Size|Garage_Size|Neighborhood_Quality|       House_Price|Age|
+--------------+------------+-------------+----------+------------------+-----------+--------------------+------------------+---+
|          1360|           2|            1|      1981|0.5996366396268326|          0|                   5| 262382.8522740563| 43|
|          4272|           3|            3|      2016|4.7530138494020395|          1|                   6|  985260.854490162|  8|
|          3592|           1|            2|      2016| 3.634822720478255|          0|                   9| 777977.3901185812|  8|
|           966|           1|            2|      1977|  2.73066687604351|          1|                   8| 229698.9186636115| 47|
|          4926|           2|            1|      1993| 4.699072554837388|          0|                   8|1041740.8589249004| 31|
|          3944|           5|            3|      1990| 2.475930043628728|          2|                   8| 879796.9835223783| 34|
|          3671|           1|            2|      2012| 4.911960066216673|          0|                   1| 814427.8614089885| 12|
|          3419|           1|            1|      1972| 2.805281407595683|          1|                   1| 703413.1109446795| 52|
|           630|           3|            3|      1997|1.0142859649909075|          1|                   8|173875.03721558454| 27|
|          2185|           4|            2|      1981|3.9416043760667474|          2|                   5| 504176.5060593679| 43|
|          1269|           2|            2|      2006|3.5550397628502823|          1|                   9|335332.59275293903| 18|
|          2891|           2|            3|      1982|3.9784402458751407|          0|                   2|    635097.3959198| 42|
|          2933|           5|            3|      1973| 4.781489129265565|          2|                   9| 701133.8041471172| 51|
|          1684|           5|            3|      1988|3.9942018619295814|          1|                   8| 440726.2848162878| 36|
|          3885|           2|            3|      1983| 3.251014709974911|          1|                   9|  838719.430503504| 41|
|          4617|           5|            1|      2005|4.3578900606237845|          0|                   4|1019192.6613592046| 19|
|          3404|           3|            3|      1977| 3.529608977095392|          0|                   1| 735850.8123421574| 47|
|           974|           2|            2|      1986| 2.336535755716654|          2|                   1|234261.64997473895| 38|
|          1582|           5|            2|      1956|4.4852889390879795|          1|                   5| 396246.3588887452| 68|
|          3058|           2|            1|      2017| 1.498552073529678|          0|                   2| 672852.0519810001|  7|
+--------------+------------+-------------+----------+------------------+-----------+--------------------+------------------+---+
only showing top 20 rows

### Удалить колонку `Neighborhood_Quality`

In [14]:
df.drop('Neighborhood_Quality')

DataFrame[Square_Footage: int, Num_Bedrooms: int, Num_Bathrooms: int, Year_Built: int, Lot_Size: double, Garage_Size: int, House_Price: double, Age: int]

### Сортировать строки по `House_Price` в порядке убывания.

In [15]:
df.orderBy("House_Price", ascending=False).show()

+--------------+------------+-------------+----------+------------------+-----------+--------------------+------------------+---+
|Square_Footage|Num_Bedrooms|Num_Bathrooms|Year_Built|          Lot_Size|Garage_Size|Neighborhood_Quality|       House_Price|Age|
+--------------+------------+-------------+----------+------------------+-----------+--------------------+------------------+---+
|          4922|           4|            1|      2018|  4.23375289844731|          2|                   2|1108236.8362913695|  6|
|          4974|           5|            2|      2000|3.7095614063750157|          2|                  10| 1107045.062935083| 24|
|          4996|           1|            3|      2014| 4.252063779134723|          1|                   1|1102533.6490590929| 10|
|          4952|           4|            3|      1995| 4.725027320185737|          2|                   9|1099211.6405116057| 29|
|          4933|           3|            1|      2015|   4.7693497781737|          2|                   7|1096158.2899088082|  9|
|          4995|           3|            2|      2007|3.6800399015496494|          0|                   2|  1092026.89678641| 17|
|          4965|           5|            2|      1977|3.0314984057287133|          2|                   2|1075864.2810329462| 47|
|          4880|           3|            1|      2008|  4.66035110929355|          1|                   5|1075814.4318808403| 16|
|          4996|           5|            1|      2003|1.8681362260159984|          0|                   8|1070454.2752476104| 21|
|          4992|           4|            2|      1960|  4.25779675454759|          1|                  10|1068538.1056038716| 64|
|          4782|           3|            3|      2006|  4.62471485739085|          1|                  10| 1067425.216621323| 18|
|          4969|           2|            3|      2009| 2.856139183496538|          1|                   5|1064774.9343224152| 15|
|          4889|           4|            2|      1991| 4.825217370695743|          2|                   8| 1064004.872579212| 33|
|          4929|           3|            3|      1971| 4.057342296222531|          2|                   5| 1062899.029267778| 53|
|          4999|           5|            1|      1952| 4.662712289043565|          2|                   5| 1060976.488572305| 72|
|          4860|           5|            2|      1977| 3.872417026913639|          0|                   6|1060712.8283115798| 47|
|          4908|           2|            3|      2022|1.8413404273617024|          1|                   9|1058290.6809403487|  2|
|          4863|           2|            3|      1983|4.7169902521385465|          0|                   9|1047149.2482085732| 41|
|          4514|           4|            3|      2008| 4.917683041345137|          0|                   4|1046315.8960136625| 16|
|          4646|           4|            1|      2012| 4.974868704014931|          1|                   7|1046163.3264236907| 12|
+--------------+------------+-------------+----------+------------------+-----------+--------------------+------------------+---+
only showing top 20 rows

### Вывести строки с отсутствующими значениями в колонке `Garage_Size`.

In [16]:
dfna =  df.filter(df.Garage_Size.isNull())
dfna.show()

+--------------+------------+-------------+----------+--------+-----------+--------------------+-----------+---+
|Square_Footage|Num_Bedrooms|Num_Bathrooms|Year_Built|Lot_Size|Garage_Size|Neighborhood_Quality|House_Price|Age|
+--------------+------------+-------------+----------+--------+-----------+--------------------+-----------+---+
+--------------+------------+-------------+----------+--------+-----------+--------------------+-----------+---+

### Подсчитать среднюю цену дома (`House_Price`).

In [17]:
from pyspark.sql.functions import avg

avg_df = df.select(avg("House_Price"))
avg_df.show()

+-----------------+
| avg(House_Price)|
+-----------------+
|618861.0186467685|
+-----------------+